.container.home.mymain
  section#article
    .page-header
      h1 About 
        small #{meta.author}
    p In the summer of 2013 I came out of an insane school year. After transferring to a completely different major midway though I had to fit 4 years of credits in 2.5 semesters. Was it worth it? No. My weight plummeted to 170 lbs and I lost every lb of muscle I had gained over the years (was at 195 lbs 6’3’’ at one point). 
    p I looked and felt terrible. After averaging 4 hours of sleep per night for about 3 years I could barely sit up with my back straight for more than an hour at a time without having to lie down and catch my breath. 
    p To top it off I decided pack everything up and move across the country the moment I graduated. The new stressors made everything worse.
    p I had to pull myself out of a downward spiral or else end up sick, jobless or even homeless (which actually happened for a bit, but that’s a story for later). My life was a whirlwind of random mishaps, stolen/lost items, moving every week to a different hostel. I was in the limbo phase of a job search where uncertainty and self doubt were creeping in.
    p I decided that I needed to regain focus solely on my body, and most importantly, see every day progress. I was hunger for that certainty. That the effort I was exerting was actually making a difference. And the best way to gain muscle? Eat clean? Train hard? Take supplements? The common theme for both of them is to keep your testosterone production going at the maximum natural rate.
    p I’m not against steroids and other synthetic anabolic supplements, however I don’t personally take them for two reasons.
    p You don’t keep your gains, even with PCT. There is no biological free lunch*
    p What are my credentials?  Humble beginnings (me in 10th grade, back row, 2nd from right)
    img(src="pagepics/humblebeginnings.jpg")
//- In the summer of 2013 I came out of an insane school year. After transferring to a completely different major midway though I had to fit 4 years of credits in 2.5 semesters. Was it worth it? No. My weight plummeted to 170 lbs and I lost every lb of muscle I had gained over the years (was at 195 lbs 6’3’’ at one point). 

//- I looked and felt terrible. After averaging 4 hours of sleep per night for about 3 years I could barely sit up with my back straight for more than an hour at a time without having to lie down and catch my breath. 

//- To top it off I decided pack everything up and move across the country the moment I graduated. The new stressors made everything worse.

//- I had to pull myself out of a downward spiral or else end up sick, jobless or even homeless (which actually happened for a bit, but that’s a story for later). My life was a whirlwind of random mishaps, stolen/lost items, moving every week to a different hostel. I was in the limbo phase of a job search where uncertainty and self doubt were creeping in.

//- I decided that I needed to regain focus solely on my body, and most importantly, see every day progress. I was hunger for that certainty. That the effort I was exerting was actually making a difference. And the best way to gain muscle? Eat clean? Train hard? Take supplements? The common theme for both of them is to keep your testosterone production going at the maximum natural rate.

//- I’m not against steroids and other synthetic anabolic supplements, however I don’t personally take them for two reasons.

//- You don’t keep your gains, even with PCT. There is no biological free lunch*

//- I want to see just how much I can progress naturally. I want to bust the myth that you have to be genetically gifted to look amazing.

//- What are my credentials?  Humble beginnings (me in 10th grade, back row, 2nd from right): 