.container.home.mymain
  section#article
    .page-header
      h1 Team 
        small #{meta.author}
      .row 
        .col-md-9 Lorem something abitur laoreet facilisis congue. Proin fringilla arcu velit. Pellentesque a magna ipsum. Nunc iaculis ligula eget mi facilisis tempus. Ut rutrum molestie libero hendrerit tristique. Quisque sed arcu at erat porttitor tempor at sed sapien…
        .col-md-3 picture goes here
      hr
      .row
        .col-md-3 picture goes here
        .col-md-9 auris ante erat, adipiscing vitae mattis eget, dapibus nec lacus. Aliquam rutrum ligula at nisi volutpat dignissim. Fusce dignissim, turpis congue accumsan pulvinar, nunc leo accumsan lacus, eget convallis turpis dui et purus. Curabitur at interdum dolor.
    //- .row
      //- .col-md-3 picture goes here
      //- .col-md-9  //- 