.terran {
	color: red;
}

.zerg{
	color: blue;
}

.protoss{
	color: green;
}

.mymain {
  margin-top: 90px;
  width: 100%;
}


.pattern {
  width: 100%;
  height: 100%;
  
  z-index: 2;
}
.center { margin-left: auto; margin-right: auto;display: block;}

.mycenter{
  text-align: center!important;
}

.mybold {
  font-weight: bold;
}

.mycenter h2 h3 h4{
  width: 100%;
  text-align: center!important;
}
.myboxshadow {
  box-shadow: 10px 10px 5px #888888;
}

.mygrey {
  background-color: silver;
}

.mylightgrey {
  background-color: #D4D4D4;
}

.mymargin {
  padding-left: 20px;
  padding-right: 20px;
  /*margin-left: 10px;
  margin-right: 10px;*/
}
/*video {
  position: absolute;
  opacity: .9;
  display: block;
  z-index: -1;
  object-fit: fill;
  -webkit-transform: scaleX(4); 
  -moz-transform: scaleX(4);
}*/

/*.vidblock {
  font-family: serif;          
  color: #fff;
  font-size: 400%;
  margin-bottom: 0px;
  margin-left: 200px;
  position: relative;
  display: block;
}

.foo {
	
  font-family: serif;          
  font-color: green;
  font-size: 100%;
  position: relative;
  z-index: 3;
  display: block;

}
*/
/*video {
	width: 100%;
  max-height: auto;
}

*/
#pretzel-video {
    top: 0;
    position: absolute;
    width: 100%;
}

video {
    display: inline-block;
}


@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
        
.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content:"\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}